* {
  font-family: "Hack Nerd Font Propo";
  font-size: 13px;
  min-height: 0;
}

/* === Sonokai Theme === */

@define-color cursor         #E2E2E3;
@define-color text           #414550;

@define-color background     #2C2E34;
@define-color foreground     #E2E2E3;

@define-color black          #181819;
@define-color red            #FC5D7C;
@define-color yellow         #E7C664;
@define-color green          #9ED072;
@define-color cyan           #F39660;
@define-color blue           #76CCE0;
@define-color magenta        #B39DF3;
@define-color white          #E2E2E3;

@define-color black-bright   #181819;
@define-color red-bright     #FC5D7C;
@define-color yellow-bright  #E7C664;
@define-color green-bright   #9ED072;
@define-color cyan-bright    #F39660;
@define-color blue-bright    #76CCE0;
@define-color magenta-bright #B39DF3;
@define-color white-bright   #E2E2E3;

/* === Main Background === */

window#waybar {
  background: @background;
}

/* === Drop Shadow === */

window#waybar > box {
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  margin: 2px;
}

/* === Tooltip === */

tooltip {
  background: @background;
  border: solid;
  border-width: 1.5px;
  border-radius: 8px;
  border-color: @white-bright;
}
tooltip label {
  color: @foreground;
  font-weight: normal;
  margin: 0.25px;
}

/* === Workspace Buttons === */

#workspaces button {
  color: @foreground;
  border-radius: 8px;
  box-shadow: none;
  margin: 2px 0;
  padding: 0 2px;
  transition: none;
}
#workspaces button:hover {
  color: @background;
  text-shadow: none;
  box-shadow: none;
}
#workspaces button.active {
  color: @background;
  background: @blue;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  margin: 2px;
  padding: 0 6px;
}

/* === General === */

.module {
  opacity: 1;
  color: @foreground;
  margin-bottom: 0;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#privacy {
    color: @red;
}

/* === Custom properties === */

#custom-power {
    color: @red;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#power-profiles-daemon.balanced {
    color: @yellow;
}

#power-profiles-daemon.performance {
    color: @red;
}
